#eventsBoard {
  display: flex;
  border: 1px solid;
}

#eventsDisplay {
  flex: 1;
  position: relative;
}

#eventsDisplay > div {
  background-color: #009688;
  position: absolute !important;
  border-style: solid;
  border-width: 2px;
  margin: 0.5%;
  border-radius: 5px;
  /*padding: 5px;*/
  border-color: #4DB6AC;
}

#eventsDisplay > div.noLeftMargin {
  margin-left: 0;
}

#hourRange > ul {
  list-style-type: none;
  padding: 0;
  line-height: 79px;
  margin: 0px;
  width: 40px;
}

#hourRange > ul > li{
  border-right: 1px solid;
  border-top: 1px solid;
}

#hourRange {
  margin: 0;
}

#header {
  display: flex;
}

#headerDates {
  width: 300px;
  display: flex;
}

/*#headerDates span {
  flex: 1;
}*/

#displayDateButton button {
  flex: 3;
}

#headerButtons {
  flex: 1;
}

#headerButtons > button {
  float: right;
}

body{
    -webkit-user-select: none;
    user-select: none;
}

.hiddenTime {
  visibility: hidden;
}

.halfHourSeparator {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px dashed;
}

.oneHourSeparator {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
}

.halfHourSeparator, .oneHourSeparator {
  position: absolute;
  width: 100%;
  background-color: black;
  margin: 0;
}
