#eventsBoard {
  display: flex;
}

#eventsDisplay {
  flex: 1;
  position: relative;
}

#eventsDisplay > div {
  background-color: pink;
  position: absolute;
  border-style: solid;
  border-width: 2px;
}

#hourRange > ul {
  list-style-type: none;
  padding: 0;
  line-height: 40px;
  margin: 0px;
}

#hourRange {
  margin: 0;
}
