.calendar-application {
  flex-direction: column;
  display: flex;
  height: 100%;
  margin: 30px;
}

#mainBody{
  display: flex;
}

#controlBoard {
  float: left;
  margin-right: 10px;
}

#eventsBoard {
  flex: 1;
  -ms-flex: 1;
  display: flex;
  border: 1px solid;
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  float: right;
  margin-left: 10px;
}

#eventsDisplay {
  flex: 1 0 0px;
  -ms-flex: 1 0 0px;
  position: relative;
}

#eventsDisplay > div {
  background-color: #009688;
  position: absolute !important;
  border-style: solid;
  border-width: 2px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 5px;
  /*padding: 5px;*/
  border-color: #4DB6AC;
}

#eventsDisplay > div.noLeftMargin {
  margin-left: 0;
}

#hourRange > ul {
  list-style-type: none;
  padding: 0;
  /*line-height: 79px;*/
  margin: 0px;
  width: 40px;
}

#hourRange > ul > li {
  height: 79px;
}

#hourRange > ul > li{
  border-right: 1px solid;
  border-top: 1px solid;
}

#hourRange {
  margin: 0;
}

#header {
  display: flex;
  padding: 5px;
}

#headerDates {
  width: 300px;
  display: flex;
  flex: 1 0 0px;
  -ms-flex: 1 0 0px;
}

/*#headerDates span {
  flex: 1;
}*/

#showInfoButton {
  color: #f0494a;
  cursor: pointer;
  display: inline-block;
}

#addEventForm {
  height: auto !important;
}

#displayDatePicker {
  height: 40px;
  font-size: 22px;
  width: 200px;
  padding: 0 5px;
  text-align: center;
}
#displayDateButton button {
  flex: 3 0 0px;
  -ms-flex: 3 0 0px;
}

#headerButtons {
  flex: 1;
  -ms-flex: 1 0 0px;
}

#headerButtons > button {
  float: right;
}

body{
    -webkit-user-select: none;
    user-select: none;
}

.dateInput .ui-datepicker {
  width: auto;
}

.hiddenTime {
  visibility: hidden;
}

.halfHourSeparator {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px dashed;
}

.oneHourSeparator {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
}

.halfHourSeparator, .oneHourSeparator {
  position: absolute;
  width: 100%;
  background-color: black;
  margin: 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  border-radius: 4px;
  min-width: 38px;
  border: 0;
  height: 40px;
  vertical-align: top;
}

.btn-rounded {
  border-radius: 50px !important;
}

#displayDateInput{
    margin-top: 10px;
}

.btn-add {
  background-color: #3cbd77;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.btn-add:hover {
  background-color: #319960 !important;
}

.ui-dialog {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin: auto;
  border: 0;
  height: 270px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.ui-dialog-titlebar {
  background: transparent;
  border: 0;
}

.ui-dialog-titlebar-close {
  background: transparent !important;
  border: 0 !important;
  top: 15px !important;
}
.ui-widget-overlay {
  opacity: 0.5;
}
